<% if @order.pagseguro_payment %>

<b><%= t("pagseguro_transaction") %></b>

  <table class="basic-table">
    <tr>
      <th><%= t("transaction_id") %></th>

      <th><%= t("items_price") %></th>
      <th><%= t("items_shipping_price") %></th>
      <th><%= t("items_extras") %></th>
      <th><%= t("notes") %></th>

      <th><%= t("transaction_status") %></th>
      <th><%= t("received_at") %></th>
    </tr>
    <% @order.pagseguro_payment.txns.each do |t| %>
      <tr>
        <td><%= t.transaction_id %></td>
        <td><%= number_to_currency t.items_price %></td>
        <td><%= number_to_currency t.items_shipping_price %></td>
        <td><%= number_to_currency t.items_extras %></td>
        <td><%= t.notes %></td>
        <td><%= t.transaction_status %></td>
        <td><%= t.received_at.l %></td>
      </tr>
    <% end %>
  </table>
<% end %>