<center>
<h1>Pagamento Processado</h1>

<form target="_blank" action="http://localhost:3000/pagseguro_payments/notification" method="post">

<input name="VendedorEmail" value="<%= params[:email_cobranca] %>" type="hidden" />
<input name="TransacaoID" value="<%= @transaction_id %>" type="hidden" />
<input name="Referencia" value="<%= params[:ref_transacao] %>" type="hidden" />
<input name="TipoFrete" value="<%= params[:tipo_frete] %>" type="hidden" />
<input name="ValorFrete" value="0,00" type="hidden" />
<input name="Anotacao" value="Pagamento gerado pelo ambiente de testes" type="hidden" />
<input name="DataTransacao" value="29/11/2008 22:41:39" type="hidden" />

<table>
  <tr>
    <td style="vertical-align: top; padding: 10px;">

<label>TipoPagamento:
  <select name="TipoPagamento">
    <option value="Cartão de Crédito">Cartão de Crédito</option>
    <option value="Pagamento">Pagamento</option>
    <option value="Boleto">Boleto</option>
    <option value="Pagamento Online">Pagamento Online</option>
  </select>
</label>

    </td>
    <td style="vertical-align: top; padding: 10px;">
      
<label>StatusTransacao:
  <select name="StatusTransacao">
    <option value="Em Análise">Em Análise</option>
    <option value="Completo">Completo</option>
    <option value="Aguardando Pagto">Aguardando Pagto</option>
    <option value="Aprovado">Aprovado</option>
    <option value="Cancelado">Cancelado</option>
  </select>
</label>

    </td>
  </tr>
</table>

<br/>

<input name="CliNome" value="<%= params[:cliente_nome] %>" type="hidden" />
<input name="CliEmail" value="<%= params[:cliente_email] %>" type="hidden" />
<input name="CliEndereco" value="<%= params[:cliente_end] %>" type="hidden" />
<input name="CliNumero" value="<%= params[:cliente_num] %>" type="hidden" />
<input name="CliComplemento" value="<%= params[:cliente_compl] %>" type="hidden" />
<input name="CliBairro" value="<%= params[:cliente_bairro] %>" type="hidden" />
<input name="CliCidade" value="<%= params[:cliente_cidade] %>" type="hidden" />
<input name="CliEstado" value="<%= params[:cliente_uf] %>" type="hidden" />
<input name="CliCEP" value="<%= params[:cliente_cep] %>" type="hidden" />
<input name="CliTelefone" value="<%= params[:cliente_ddd] %> <%= params[:cliente_tel] %>" type="hidden" />

<% (1..@number_of_items).to_a.each do |i| -%>
  <% [
    ["item_id_#{i}", "ProdId_#{i}"],
    ["item_descr_#{i}", "ProdDescricao_#{i}"],
    ["item_quant_#{i}", "ProdQuantidade_#{i}"]
  ].each do |item| -%>
    <input name="<%= item[1] %>" value="<%= params[item[0].to_sym] %>" type="hidden" />
  <% end -%>
    <% valor = params["item_valor_#{i}".to_sym].to_f / 100 %>
    <input name="<%= "ProdValor_#{i}" %>" value="<%= number_to_currency(valor, :unit => '').to_s %>" type="hidden" />
    <% frete = params["item_frete_#{i}".to_sym].to_f / 100 %>
    <input name="<%= "ProdFrete_#{i}" %>" value="<%= number_to_currency(frete, :unit => '').to_s %>" type="hidden" />
    <input name="<%= "ProdExtras_#{i}" %>" value="0,00" type="hidden" />
<% end -%>

<input name="NumItens" value="<%= @number_of_items %>" type="hidden" />

<input type="submit" value="Testar Retorno Automático" />
</form>
<br/>

<a href="http://localhost:3000/pagseguro_payments/notification">Testar link de retorno para a loja</a>

<br/><br/>

Recebidos:
<table>
  <tr>
    <td style="vertical-align: top; padding: 10px;">

<pre>
<%= "email_cobranca=#{params[:email_cobranca]}" if params[:email_cobranca] %>
<%= "tipo=#{params[:tipo]}" if params[:tipo] %>
<%= "moeda=#{params[:moeda]}" if params[:moeda] %>
<%= "tipo_frete=#{params[:tipo_frete]}" if params[:tipo_frete] %>
<%= "ref_transacao=#{params[:ref_transacao]}" if params[:ref_transacao] %>
      
<%= "cliente_nome=#{params[:cliente_nome]}" if params[:cliente_nome] %>
<%= "cliente_cep=#{params[:cliente_cep]}" if params[:cliente_cep] %>
<%= "cliente_end=#{params[:cliente_end]}" if params[:cliente_end] %>
<%= "cliente_num=#{params[:cliente_num]}" if params[:cliente_num] %>
<%= "cliente_compl=#{params[:cliente_compl]}" if params[:cliente_compl] %>
<%= "cliente_bairro=#{params[:cliente_bairro]}" if params[:cliente_bairro] %>
<%= "cliente_cidade=#{params[:cliente_cidade]}" if params[:cliente_cidade] %>
<%= "cliente_uf=#{params[:cliente_uf]}" if params[:cliente_uf] %>
<%= "cliente_pais=#{params[:cliente_pais]}" if params[:cliente_pais] %>
<%= "cliente_ddd=#{params[:cliente_ddd]}" if params[:cliente_ddd] %>
<%= "cliente_tel=#{params[:cliente_tel]}" if params[:cliente_tel] %>
<%= "cliente_email=#{params[:cliente_email]}" if params[:cliente_email] %>
</pre>

    </td>
    <td style="vertical-align: top; padding: 10px;">
      
<pre>
<% (1..@number_of_items).to_a.each do |i| -%>
<% ["item_id_#{i}", "item_descr_#{i}", "item_quant_#{i}", "item_valor_#{i}", "item_frete_#{i}",
"item_peso_#{i}"].each do |item| -%>
<%= "#{item}=#{params[item.to_sym]}" if params[item.to_sym] %>
<% end -%>
<% end -%>
</pre>

    </td>
  </tr>
</table>

</center>
