<form target="pagseguro" action="<%= @pagseguro_url %>" method="post">

<input type="hidden" name="email_cobranca" value="<%= truncate(h(Spree::Pagseguro::Config[:account]), 200) %>" />
<input type="hidden" name="tipo" value="CP" />
<input type="hidden" name="moeda" value="BRL" />

<input type="hidden" name="cliente_nome" value="" />
<input type="text" name="cliente_cep" value="93010090" />
<input type="hidden" name="cliente_end" value="" />
<input type="hidden" name="cliente_num" value="" />
<input type="hidden" name="cliente_compl" value="" />
<input type="hidden" name="cliente_bairro" value="" />
<input type="hidden" name="cliente_cidade" value="" />
<input type="hidden" name="cliente_uf" value="" />
<input type="hidden" name="cliente_pais" value="BRA" />
<input type="hidden" name="cliente_ddd" value="" />
<input type="hidden" name="cliente_tel" value="" />
<input type="hidden" name="cliente_email" value="" />

<input type="hidden" name="item_frete_1" value="" />
<input type="hidden" name="item_peso_1" value="1500" />
<input type="hidden" name="tipo_frete" value="EN" />

<input type="hidden" name="ref_transacao" value="<%= truncate(h(@order.number.to_s), 200) %>" />

<!--
Obs.: Máximo de 25 items.
-->
<% @order.line_items.each_with_index do |item, index| %>
  <input type="hidden" name="item_id_<%= index + 1 %>" value="<%= truncate(h(item.variant.product.sku), 100) %>" />
  <input type="hidden" name="item_descr_<%= index + 1 %>" value="<%= truncate(h(item.variant.product.name), 100) %>" />
  <input type="hidden" name="item_quant_<%= index + 1 %>" value="<%= truncate(h(item.quantity.to_s), 3) %>" />
  <input type="hidden" name="item_valor_<%= index + 1 %>" value="<%= truncate(h(item.price.to_s), 7) %>" />
<% end %>


<%= image_submit_tag "btnFinalizaBR.jpg" %>

</form>

<%= render :partial => 'pagseguro_shipping_calculation' %>
