<% form_tag(admin_pagseguro_settings_path, :method => :put) do -%>

<h2><%= t('pagseguro_setting') %></h2>

<div>
  <p>
    <strong><%= t('pagseguro_account') %></strong>
    <%= text_field_tag('preferences[account]', Spree::Pagseguro::Config[:account])%>
  </p>
  <p>
    <strong><%= t('always_use_sandbox') %></strong>
    <%= check_box_tag('preferences[always_use_sandbox]', "1", Spree::Pagseguro::Config[:always_use_sandbox]) %>
    <input name="preferences[always_use_sandbox]" type="hidden" value="0" />
  </p>
</div>
<%= submit_tag t('Save Preferences') %>
<% end -%>
