<h2><%= t("pagseguro_setting") %></h2>

<div id="pagseguro_settings">
  <div>
    <strong><%= t('pagseguro_account') %>:</strong> <%= Spree::Pagseguro::Config[:account] %>
  </div>
  <div>
    <strong><%= t('always_use_sandbox') %>:</strong> <%= Spree::Pagseguro::Config[:always_use_sandbox] %>
  </div>
  <%= link_to t("Edit"), edit_admin_pagseguro_settings_path %>
</div>
